In [1]:
import sqlite3

In [2]:
con =sqlite3.connect("batch50")

In [3]:
pwd

u'C:\\Users\\umasa\\batch50'

In [4]:
cur=con.cursor()

In [5]:
cur.execute("create table customer(id int, name varchar(250))")

In [8]:
q="insert into customer(id,name) values(1,'anil')"

In [9]:
cur.execute(q)

In [10]:
cur.commit()

AttributeError: 'sqlite3.Cursor' object has no attribute 'commit'

In [11]:
con.commit()

In [17]:
q="update customer set name='anil kumar Jay' where id=1"
cur.execute(q)
con.commit()

In [19]:
r="update customer set name='Jay' where id=2"
cur.execute(r)
con.commit()

In [22]:
r="insert into customer (id, name) values(2,'Harris')"
cur.execute(r)
con.commit()

In [23]:
r="update customer set name='Harris Jayraj' where id=2"
cur.execute(r)
con.commit()

In [24]:
r="update customer set name='Harris Jayraj' where id=3"
cur.execute(r)
con.commit()

In [8]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
cur.execute("select * from customer")

In [15]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
cur.execute('''create table COMPANY
            (id             int  Primary Key Not Null,
             Name           Text             not Null,
             Age            int,
             Address        varchar(50),
             salary         int);
             ''')
print "DB created successfully"
con.close()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 13))

OperationalError: database is locked

In [14]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
cur.execute("drop table COMPANY")

OperationalError: no such table: COMPANY

In [16]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
q="insert into COMPANY(id,name) values(21212,'John')"
cur.execute(q)

OperationalError: no such table: COMPANY

In [17]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
cur.execute('''create table COMPANY1
            (id             int  Primary Key Not Null,
             Name           Text             not Null,
             Age            int,
             Address        varchar(50),
             salary         int);
             ''')
print "DB created successfully"
con.close()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 13))

OperationalError: database is locked

In [19]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
cur.execute("select * from COMPANY1")

OperationalError: no such table: COMPANY1

In [25]:
import sqlite3
conn = sqlite3.connect("batch50")
print "Opened database successfully";
cur=conn.cursor()
cur.execute("INSERT INTO COMPANY1 (Id,name,Age,Address,Salary) \
              VALUES (1, 'Paul', 32, 'California', 20000.00 )");
conn.commit()

Opened database successfully

OperationalError: no such table: COMPANY1

In [26]:
import sqlite3
con=sqlite3.connect("batch50")
cur=con.cursor()
cur.execute('''create table COMPANY1
            (id             int  Primary Key Not Null,
             Name           Text             not Null,
             Age            int,
             Address        varchar(50),
             salary         int);
             ''')
print "DB created successfully"

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 13))

OperationalError: database is locked