In [2]:
d={"k1":"v1","k2":"v2","k3":"v3"}
print d

{'k3': 'v3', 'k2': 'v2', 'k1': 'v1'}

In [3]:
for i in d:
    print i

k3
k2
k1

In [5]:
d={"k1":"v1","k2":"v2","k3":"v3"}
s=dict([("k1","v1"),("k2","v2"),("k3","v3")])
print d
print s

{'k3': 'v3', 'k2': 'v2', 'k1': 'v1'}
{'k3': 'v3', 'k2': 'v2', 'k1': 'v1'}

In [7]:
p={"name":"Arun","age":30,"height":5.6,0:"zero"}
p[0]

'zero'

In [8]:
p={"name":"Arun","age":30,"height":5.6}
p[0]

KeyError: 0

In [9]:
p={"name":"Arun","age":30,"height":5.6}
print p["name"]
print p["age"]

Arun
30

In [11]:
p={"name":"Arun","age":30,"height":5.6}
p["weight"]=70
print p

{'age': 30, 'name': 'Arun', 'weight': 70, 'height': 5.6}

In [13]:
p={"name":"Arun","age":30,"height":5.6,"weight":70}
p["cell"]=8092082212
print p

{'cell': 8092082212L, 'age': 30, 'name': 'Arun', 'weight': 70, 'height': 5.6}

In [14]:
p={"name":"Arun","age":30,"height":5.6,"weight":70}
p["cell"]="8092082212"
print p

{'cell': '8092082212', 'age': 30, 'name': 'Arun', 'weight': 70, 'height': 5.6}

In [19]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
p.setdefault("cell","224200")
print p

{'cell': '8092082212', 'age': 30, 'name': 'Arun', 'weight': 70, 'height': 5.6}

In [20]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
p.setdefault("Ok","fine")
print p

{'Ok': 'fine', 'name': 'Arun', 'weight': 70, 'age': 30, 'height': 5.6, 'cell': '8092082212'}

In [22]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
print p.update("cell":'8790979922')

SyntaxError: invalid syntax (<ipython-input-22-cf1740842f84>, line 2)

In [23]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
print p.update("cell")='8790979922'

SyntaxError: invalid syntax (<ipython-input-23-082e58d8678a>, line 2)

In [24]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
p["name"]="Vijay"
print p

{'cell': '8092082212', 'age': 30, 'name': 'Vijay', 'weight': 70, 'height': 5.6}

In [26]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
print p.update({"cell":'8790979922'})
print p

None
{'cell': '8790979922', 'name': 'Arun', 'weight': 70, 'age': 30, 'height': 5.6}

In [30]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
p.update({"cell":"234523","pan":"werwe432rf","adhar":"2345rewr23r23"})
p1=p
print p
print p1

{'name': 'Arun', 'weight': 70, 'age': 30, 'height': 5.6, 'cell': '234523', 'adhar': '2345rewr23r23', 'pan': 'werwe432rf'}
{'name': 'Arun', 'weight': 70, 'age': 30, 'height': 5.6, 'cell': '234523', 'adhar': '2345rewr23r23', 'pan': 'werwe432rf'}

In [28]:
l=[20,10,40,30,100]
print l

[20, 10, 40, 30, 100]

In [31]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
p.get("name")

'Arun'

In [34]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
print p.get("indi")
print p["indi"]

None

KeyError: 'indi'

In [35]:
p={"name":"Arun","age":30,"height":5.6,"weight":70,"cell":"8092082212"}
print p.get("indi")
print p.get("indi",12345)

None
12345

In [36]:
l=["a","b","c","d"]
for i in enumerate(l):
    print i

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [40]:
l=["a","b","c","d"]
for ind,value in enumerate(l):
    print ind,value

0 a
1 b
2 c
3 d

In [41]:
l=["a","b","c","d"]
for ind, value in enumerate(l):
    print value
    l.pop(ind+1)
    print l

a
['a', 'c', 'd']
c
['a', 'c']

In [42]:
l=[10,10,10,10,10]
for i in l:
    while l.count(i)>0:
        l.remove(i)
print l

[]

In [43]:
l=[10,10,10,10,10]
for i in l:
    while l.count(i)>1:
        l.remove(i)
print l

[10]

In [44]:
l=[10,10,10,10,10]
for i in l:
    l.remove(i)
print l

[10, 10]

In [45]:
l=[10,20,10,10,10]
for i in l:
    l.remove(i)
print l

[20, 10]

In [46]:
l=[10,20,10,20,10]
for i in l:
    l.remove(i)
print l

[20, 20]

In [48]:
l=[10,10,10,10,10,10]
for i in l:
    l.remove(i)
print l

[10, 10, 10]

In [49]:
l=[10,10,10,10,10,10]
for ind,value in enumerate(l):
    print ind
    l.remove(value)
print l

0
1
2
[10, 10, 10]

In [52]:
l=[10,10,10,10,10]
for ind,value in enumerate(l):
    print ind
    l.remove(value)
print l

0
1
2
[10, 10]

In [54]:
l=[10,20,10,20,10]
for ind,value in enumerate(l):
    print ind
    l.remove(value)
    print l

0
[20, 10, 20, 10]
1
[20, 20, 10]
2
[20, 20]

In [55]:
l=[10,10,10,10,10,10]
for i in l:
    l.remove(10)
print l

[10, 10, 10]

In [56]:
l=[10,20,10,20,10]
for ind,value in enumerate(l):
    print ind
    l.remove(i)
    print l

0
[20, 10, 20, 10]
1
[20, 20, 10]
2
[20, 20]

In [ ]:
Emp={}
N=int(raw_input("Enter the number of employees:"))
for i in range(1,N+1):
    EmpName =raw_input("EmpName:")
    EmpId   =int(raw_input("EmpId:"))
    EmpAge  =int(raw_input("EmpAge:"))
    EmpWt   =float(raw_input("EmpWt:"))
    EmpHt   =float(raw_input("EmpHt:"))
    EmpBMI  = EmpWt/(EmpHt**2)
    if EmpBMI > 18 and EmpBMI<= 25:
        Result ="Associate is Normal Weight"
    elif EmpBMI >25 and EmpBMI<=30:
        Result ="Associate is Over Weight"
    elif EmpBMI > 30:
        Result ="Associate is Obese"
    else:
        Result ="Associate is Under Weight"
    Emp.update({"EmpName":EmpName,"EmpId":EmpId,"EmpAge":EmpAge,"EmpWt":EmpWt,"EmpHt":EmpHt,"EmpBMI":EmpBMI,"Result":Result})
    #Emp.iterkeys()
print Emp

In [1]:
d={}
name=raw_input("Enter name:")
age=raw_input("enter age:")
d.update({"name":name,"age":age})
print d

Enter name:Mahesh
enter age:32
{'age': '32', 'name': 'Mahesh'}

In [2]:
E={'EmpId': 3233232, 'EmpName': 'Suresh', 'EmpBMI': 41.351606805293, 'EmpAge': 31, 'EmpWt': 140.0, 'EmpHt': 1.84}
E1=E.copy()
print E1

{'EmpId': 3233232, 'EmpName': 'Suresh', 'EmpBMI': 41.351606805293, 'EmpAge': 31, 'EmpWt': 140.0, 'EmpHt': 1.84}

In [3]:
E={'EmpId': 3233232, 'EmpName': 'Suresh', 'EmpBMI': 41.351606805293, 'EmpAge': 31, 'EmpWt': 140.0, 'EmpHt': 1.84}
print E.itervalues()
print E.values()

<dictionary-valueiterator object at 0x0000000004BE9138>
[3233232, 'Suresh', 41.351606805293, 31, 140.0, 1.84]

In [4]:
s1={"k2":3}
s2={"k3":3}
s=s1+s2
print s

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [5]:
#return and yield
def fun():
    print 'st1'
    return 10
    print 'st2'
    return 20
    print 'st3'
    return 30
res=fun()
print res

st1
10

In [6]:
#return and yield
def fun():
    print 'st1'
    yield 10
    print 'st2'
    yield 20
    print 'st3'
    yield 30
res=fun()
print res

<generator object fun at 0x0000000004CA53A8>

In [8]:
#return and yield
def fun():
    print 'st1'
    yield 10
    print 'st2'
    yield 20
    print 'st3'
    yield 30
res=fun()
for i in res:
    print i

st1
10
st2
20
st3
30

In [9]:
# return and yield
def fun():
    yield 10
    yield 20
    yield 30
def fun1():
    return [10,20,30]
res=fun()
res1=fun1()
for i in res:
    print i
print "*"*20
for i in res1:
    print i

10
20
30
********************
10
20
30

In [10]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
print p
print p.popitem()

{0: 'zero', 'age': 29, 'name': 'Anil kumar', 'height': 5.6}
(0, 'zero')

In [11]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
print 29 in p

False

In [13]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
print 29 in p.keys()

False

In [14]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
print 29 in p.values()

True

In [15]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
print "age" in p
print "age" in p.keys()
print p.has_key("age")

True
True
True

In [16]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
print "age1" in p
print "age1" in p.keys()
print p.has_key("age1")

False
False
False

In [17]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
p1=p
p.clear()
print p
print p1

{}
{}

In [18]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
p1=p
p2=p.copy()
p.clear()
print p
print p1
print p2

{}
{}
{0: 'zero', 'age': 29, 'name': 'Anil kumar', 'height': 5.6}

In [21]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
for i in p.items():
    print i
    
for key,value in p.items():
    print key,value

(0, 'zero')
('age', 29)
('name', 'Anil kumar')
('height', 5.6)
0 zero
age 29
name Anil kumar
height 5.6

In [22]:
l1=[10]
l2=[20]
l=l1+l2
print l

[10, 20]

In [23]:
a=[10,20,30]
b=(10,20,30)
c=10,20,30
print type(a)
print type(b)
print type(c)

<type 'list'>
<type 'tuple'>
<type 'tuple'>

In [24]:
a,b=10,20
print a
print b

10
20

In [25]:
a,b=10,20,20
print a
print b

ValueError: too many values to unpack

In [26]:
a,b=[[10,20],[20,30]]
print a
print b

[10, 20]
[20, 30]

In [28]:
a,b=[[10,20],[20,30]]
c,d=30,40
print a
print b
print c
print d

[10, 20]
[20, 30]
30
40

In [29]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
print p.pop("age")
print p

29
{0: 'zero', 'name': 'Anil kumar', 'height': 5.6}

In [30]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
print p.pop("cell")
print p

KeyError: 'cell'

In [31]:
p={"name": "Anil kumar","age":29,"height":5.6,0:"zero"}
print p.pop("cell",43235)
print p

43235
{0: 'zero', 'age': 29, 'name': 'Anil kumar', 'height': 5.6}

In [57]:
#BMI of an associate
import collections
Emp={}
N=int(raw_input("Enter the number of employees:"))
for i in range(1,N+1):
    EA1 ="EmpName"
    EA2 ="EmpId"
    EA3 ="EmpAge"
    EA4 ="EmpWt"
    EA5 ="EmpHt"
    EA6 ="EmpBMI"
    EA7 ="EmpResult"
    EA1 = EA1.replace(EA1,str(i)+'.'+ EA1)
    EA2 = EA2.replace(EA2,str(i)+'.'+ EA2)
    EA3 = EA3.replace(EA3,str(i)+'.'+ EA3)
    EA4 = EA4.replace(EA4,str(i)+'.'+ EA4)
    EA5 = EA5.replace(EA5,str(i)+'.'+ EA5)
    EA6 = EA6.replace(EA6,str(i)+'.'+ EA6)
    EA7 = EA7.replace(EA7,str(i)+'.'+ EA7)
    EmpName =raw_input("EmpName:")
    EmpId   =int(raw_input("EmpId:"))
    EmpAge  =int(raw_input("EmpAge:"))
    EmpWt   =float(raw_input("EmpWt in Kg:"))
    EmpHt   =float(raw_input("EmpHt in mt:"))
    EmpBMI  = EmpWt/(EmpHt**2)
    EmpBMI  =round(EmpBMI,2)
    if EmpBMI > 18 and EmpBMI<= 25:
        Result ="Associate is Normal Weight"
    elif EmpBMI >25 and EmpBMI<=30:
        Result ="Associate is Over Weight"
    elif EmpBMI > 30:
        Result ="Associate is Obese"
    else:
        Result ="Associate is Under Weight"
    Emp.update({EA1:EmpName,EA2:EmpId,EA3:EmpAge,EA4:EmpWt,EA5:EmpHt,EA6:EmpBMI,EA7:Result})
    #Emp.iterkeys()
Emp = collections.OrderedDict(sorted(Emp.items()))
print Emp

Enter the number of employees:3
EmpName:Mahesh
EmpId:232242
EmpAge:32
EmpWt in Kg:75
EmpHt in mt:1.78
EmpName:Suresh
EmpId:224242
EmpAge:30
EmpWt in Kg:150
EmpHt in mt:1.78
EmpName:Rajesh
EmpId:322422
EmpAge:35
EmpWt in Kg:40
EmpHt in mt:1.78
OrderedDict([('1.EmpAge', 32), ('1.EmpBMI', 23.67), ('1.EmpHt', 1.78), ('1.EmpId', 232242), ('1.EmpName', 'Mahesh'), ('1.EmpResult', 'Associate is Normal Weight'), ('1.EmpWt', 75.0), ('2.EmpAge', 30), ('2.EmpBMI', 47.34), ('2.EmpHt', 1.78), ('2.EmpId', 224242), ('2.EmpName', 'Suresh'), ('2.EmpResult', 'Associate is Obese'), ('2.EmpWt', 150.0), ('3.EmpAge', 35), ('3.EmpBMI', 12.62), ('3.EmpHt', 1.78), ('3.EmpId', 322422), ('3.EmpName', 'Rajesh'), ('3.EmpResult', 'Associate is Under Weight'), ('3.EmpWt', 40.0)])

In [47]:
s="EmpName"
#s1=s.replace('e','E')
#print s1
#print s
for i in range(1,10):
    s1=s.replace("EmpName","EmpName"+str(i))
    print s1

EmpName1
EmpName2
EmpName3
EmpName4
EmpName5
EmpName6
EmpName7
EmpName8
EmpName9

In [48]:
s="EmpName"
#s1=s.replace('e','E')
#print s1
#print s
for i in range(1,10):
    s=s.replace(s,s+str(i))
    print s

EmpName1
EmpName12
EmpName123
EmpName1234
EmpName12345
EmpName123456
EmpName1234567
EmpName12345678
EmpName123456789

In [49]:
s="EmpName"
#s1=s.replace('e','E')
#print s1
#print s
for i in range(1,10):
    s="EmpName"
    s=s.replace(s,s+str(i))
    print s

EmpName1
EmpName2
EmpName3
EmpName4
EmpName5
EmpName6
EmpName7
EmpName8
EmpName9

In [1]:
a=13.424242422
a=round(a,2)
print a

13.42

In [3]:
#BMI of an associate
import collections
Emp=[]
N=int(raw_input("Enter the number of employees:"))
for i in range(N):
    EmpName =raw_input("EmpName:")
    EmpId   =int(raw_input("EmpId:"))
    EmpAge  =int(raw_input("EmpAge:"))
    EmpWt   =float(raw_input("EmpWt in Kg:"))
    EmpHt   =float(raw_input("EmpHt in mt:"))
    EmpBMI  = EmpWt/(EmpHt**2)
    EmpBMI  =round(EmpBMI,2)
    if EmpBMI > 18 and EmpBMI<= 25:
        Result ="Associate is Normal Weight"
    elif EmpBMI >25 and EmpBMI<=30:
        Result ="Associate is Over Weight"
    elif EmpBMI > 30:
        Result ="Associate is Obese"
    else:
        Result ="Associate is Under Weight"
    Emp.append({"EmpName":EmpName,"EmpId":EmpId,"EmpAge":EmpAge,"EmpWt":EmpWt,"EmpHt":EmpHt,"EmpBMI":EmpBMI,"Result":Result})
    #Emp.iterkeys()
#Emp = collections.OrderedDict(sorted(Emp.items()))
Emp.sort()
print Emp

Enter the number of employees:2
EmpName:Mahesh
EmpId:229373
EmpAge:32
EmpWt in Kg:77
EmpHt in mt:1.78
EmpName:Ashok
EmpId:242441
EmpAge:30
EmpWt in Kg:150
EmpHt in mt:1.78
[{'EmpId': 242441, 'EmpName': 'Ashok', 'EmpBMI': 47.34, 'EmpAge': 30, 'EmpWt': 150.0, 'EmpHt': 1.78, 'Result': 'Associate is Obese'}, {'EmpId': 229373, 'EmpName': 'Mahesh', 'EmpBMI': 24.3, 'EmpAge': 32, 'EmpWt': 77.0, 'EmpHt': 1.78, 'Result': 'Associate is Normal Weight'}]

In [4]:
d={"name":"anil","age":23}
d.items()

[('age', 23), ('name', 'anil')]

In [5]:
d={"name":"anil","age":23}
d.iteritems()

In [9]:
d={"name":"Anil","age":23}
d.viewitems()

dict_items([('age', 23), ('name', 'Anil')])

In [10]:
d={"name":"anil","age":23}
for i in d.iteritems():
    print i

('age', 23)
('name', 'anil')

In [11]:
d={"name":"anil","age":23}
ii=d.iteritems()
for i in ii:
    print i

('age', 23)
('name', 'anil')

In [13]:
d={"name":"anil","age":23}
ii=d.items()
for i in ii:
    print i

('age', 23)
('name', 'anil')

In [15]:
d={"name":"anil","age":23}
ii=d.iteritems()
d.update({"ht":1.78})
for i in ii:
    print i

RuntimeError: dictionary changed size during iteration

In [16]:
d={"name":"anil","age":23}
ii=d.iteritems()
d.update({"ht":1.78})
ii=d.iteritems()
for i in ii:
    print i

('age', 23)
('name', 'anil')
('ht', 1.78)

In [21]:
d={"name":"anil","age":23}
vi=d.viewitems()
print type(vi)
for i in vi:
    print i

<type 'dict_items'>
('age', 23)
('name', 'anil')

In [22]:
d={"name":"anil","age":23}
vi=d.viewitems()
d.update({"ht":1.78})
for i in vi:
    print i

('age', 23)
('name', 'anil')
('ht', 1.78)

In [23]:
d={"name":"anil","age":23}
ii=d.items()
d.update({"ht":1.78})
for i in ii:
    print i

('age', 23)
('name', 'anil')

In [3]:
xrange(1320000000)

xrange(1320000000)

In [4]:
d={"name":"anil","age":23}
ii = d.iteritems()
for i in ii:
    print i
    break

('age', 23)

In [5]:
for i in ii:
    print i

('name', 'anil')

In [6]:
d={"name":"anil","age":23}
vi = d.viewitems()
for i in vi:
    print i
    break

('age', 23)

In [7]:
d={"name":"anil","age":23}
vi = d.viewitems()
for i in vi:
    print i
    break

('age', 23)

In [11]:
d.update({"cell":235423534})
for i in vi:
    print i

('cell', 235423534)
('age', 23)
('name', 'anil')