In [1]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
range(1,10,2)

[1, 3, 5, 7, 9]

In [5]:
range(11,10,2)

[]

In [6]:
range(11,10,-1)

[11]

In [7]:
range(10,1,-1)

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [8]:
for i in 'python':
    print i

p
y
t
h
o
n

In [9]:
for i in [1,2,3,4,5]:
    print "iteration started"
    print i
    print "iteration ended"

iteration started
1
iteration ended
iteration started
2
iteration ended
iteration started
3
iteration ended
iteration started
4
iteration ended
iteration started
5
iteration ended

In [10]:
for i in range(1,11):
    print i

1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(10,0,-1):
    print i

10
9
8
7
6
5
4
3
2
1

In [14]:
for i in range(2,10,2):
    print i

2
4
6
8

In [ ]:
for i in range(97,123):
    print chr(i)

In [ ]:
str1=raw_input("enter str1:")
str2=raw_input("enter str2:")
for i in range(ord(str1),ord(str2)+1):
    print chr(i)

In [ ]:
a=1
print a

In [ ]:
range(10)

In [1]:
str1=raw_input("enter str1:")
str2=raw_input("enter str2:")
for i in range(ord(str1),ord(str2)+1):
    print chr(i)

enter str1:a
enter str2:d
a
b
c
d

In [9]:
str1=raw_input("enter str1:")
str2=raw_input("enter str2:")
if ord(str1)<ord(str2):
    for i in range(ord(str1),ord(str2)+1):
        print chr(i)
else:
    for i in range(ord(str1),ord(str2)-1,-1):
        print chr(i)

enter str1:d
enter str2:a
d
c
b
a

In [ ]:
print "program started"
i=0
while i<3:
    print i
    i=i+1
print "program ended"

In [3]:
l=[12,34,56,-74,45,37,24]
for i in l:
    if i>0:
        if (i%2==0):
            print "%d is even"%i
        else:
            print "%d is odd"%i
    else:
        print"%d is negative"%i

12 is even
34 is even
56 is even
-74 is negative
45 is odd
37 is odd
24 is even

In [4]:
l=[12,34,56,-74,45,37,24]
for i in l:
    if i>0:
        if (i%2==0):
            print "%d is even"%i
        else:
            print "%d is odd"%i
    else:
        print"%d is negative"%i
        break

12 is even
34 is even
56 is even
-74 is negative

In [ ]:
i=0
while i<3:
          continue
          i=i+1
print i