In [1]:
a=10
b=20
print a+b
print "program ended"

30
program ended

In [2]:
a=10
b=20
print a,b

10 20

In [4]:
def fun():
 print "sdfs"

In [6]:
a=1000
c=a
print id(a)
print id(c)

66682696
66682696

In [1]:
a=1000
b=2000
c=b
d=2000
e=a

In [2]:
S1= "rabbit"
S2=S1
S1= "apple"
print S2

rabbit

In [4]:
s1= "Mahesh_A"
s2= s1
s1= "_Apple"
print s1[0]
print s2[6]
print s1[1]
print s2[7]
print id(s1[1])
print id(s2[7])

_
_
A
A
53891360
53891360

In [6]:
a=1000
print a , type(a)
a=10.23
print a , type(a)
a="python"
print a , type(a)
a=[12,20,30]
print a , type(a)
a=(10,20,30)
print a , type(a)
a={"name":"Mahesh", "age":23}
print a , type(a)

1000 <type 'int'>
10.23 <type 'float'>
python <type 'str'>
[12, 20, 30] <type 'list'>
(10, 20, 30) <type 'tuple'>
{'age': 23, 'name': 'Mahesh'} <type 'dict'>