In [1]:
a=10
b=20
print a+b
print "program ended"

30
program ended

In [2]:
a=10
b=20
print a,b

10 20

In [4]:
def fun():
 print "sdfs"

In [6]:
a=1000
c=a
print id(a)
print id(c)

66682696
66682696

In [1]:
a=1000
b=2000
c=b
d=2000
e=a

In [2]:
S1= "rabbit"
S2=S1
S1= "apple"
print S2

rabbit

In [4]:
s1= "Mahesh_A"
s2= s1
s1= "_Apple"
print s1[0]
print s2[6]
print s1[1]
print s2[7]
print id(s1[1])
print id(s2[7])

_
_
A
A
53891360
53891360

In [6]:
a=1000
print a , type(a)
a=10.23
print a , type(a)
a="python"
print a , type(a)
a=[12,20,30]
print a , type(a)
a=(10,20,30)
print a , type(a)
a={"name":"Mahesh", "age":23}
print a , type(a)

1000 <type 'int'>
10.23 <type 'float'>
python <type 'str'>
[12, 20, 30] <type 'list'>
(10, 20, 30) <type 'tuple'>
{'age': 23, 'name': 'Mahesh'} <type 'dict'>

In [1]:
usrname=raw_input("Enter usrname")
pwd=raw_input("enter pwd")
print usrname
print pwd

Enter usrnameusr1
enter pwdpwd1
usr1
pwd1

In [2]:
num1=raw_input("enter1")
num2=raw_input("enter2")
print num1+num2
print int(num1)+int(num2)

enter110
enter220
1020
30

In [1]:
#insert into Customer(name, age, height) values (',anilmumar')

In [2]:
# 'hello', I am in "hyderabad"
print "'hello', I am in \"hyderabad\""

'hello', I am in "hyderabad"

In [3]:
# "hello", I am in 'hyderabad'
print '"hello", I am in \'hyderabad\''

"hello", I am in 'hyderabad'

In [4]:
print 'line1\tline2\tline3\nsdfskmf\ndjfdjdjf'

line1	line2	line3
sdfskmf
djfdjdjf

In [5]:
name = "anil kumar"
Weight = 23
Height = 5.67
print('Person Name:%s, Weight:%d, Height=%.2f')%(name, Weight, Height)

Person Name:anil kumar, Weight:23, Height=5.67

In [1]:
ord("A")

65

In [3]:
#10. Take three upper case letters from the user convert in to smallcase.
chr(ord("A")+32)

'a'

In [12]:
# 9. name="Jayaram" age=1.6 height=3.5356234 weight=10.343856783
name=raw_input("Enter Name:")
age =raw_input("enter age:")
height =raw_input("enter height:")
weight= raw_input("enter weight:")
print 'name="%s",age=%f ,height=%f ,weight=%f '%(name,float(age),float(height),float(weight))

Enter Name:Jay
enter age:1.67
enter height:456.2424
enter weight:76.43535
name="Jay",age=1.670000 ,height=456.242400 ,weight=76.435350

In [13]:
HGB =raw_input("enter the size of Hard disk in GB:")
SMB = 1000* int(HGB)
SKB = 1000* int(SMB)
print "Size in MB:%d , Size in KB:%d"%(SMB,SKB)

enter the size of Hard disk in GB:2
Size in MB:2000 , Size in KB:2000000

In [19]:
N1 = 50
N2 = 500
Z = int(N2/N1)
print ("Num of buses reqd:%d")%Z

Num of buses reqd:10